
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$time-unit-margin: 3px;

body {
  background-color: grey;
  color: black;
}

canvas {
  margin-top: 30px;
  margin-bottom: 50px;
}

h2 {
  color: black;
}

.day{
  @extend .time-unit;
  width: 13.5%;
  height: 510px;
  display: inline-block;
}

.details-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10%;
}

.hour{
  @extend .time-unit;

}

.temp {
  font-size: 30px;
  font-weight: bold;
}

.time-blocks {
  margin: $time-unit-margin;
  text-align: center;
}

.time-unit {
  border: 1px solid black;
  border-radius: 5px;
  margin: $time-unit-margin;
  position: relative;
  overflow: auto;
  text-align: center;
  p {
    color: black;
  }
}


@media only screen and (max-width: 768px) {

  .day {
    height: 450px;
    width: 99%;
  }

  .details-wrapper {
    left: 30%;
  }

}
